body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ;
    overflow: hidden;
}

canvas {
    background-color: white;
}

#crosshair {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

#crosshair::before,
#crosshair::after {
    content: '';
    position: absolute;
    background: red;
}

#crosshair::before {
    left: 50%;
    top: 0;
    width: 2px;
    height: 100%;
    transform: translateX(-50%);
}

#crosshair::after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateY(-50%);
}