.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0 1rem;
  padding: 10px 40px;
}

.nav-logo {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  height: 60px;
}

.nav-brand {
  font-size: 1.25rem;
  font-weight: 600;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-menu li a {
  color: inherit;
  text-decoration: none;
  padding: 6px 12px;
  font-weight: 600;

  /* make letters start out white */
  color: white;

  /* invert whatever color’s underneath each glyph */
  mix-blend-mode: difference;

  /* soften/blend edges so it stays legible on busy backdrops */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
}

.nav-menu li {
  transition: transform 0.2s ease;
}
.nav-menu li:hover {
  transform: translateY(-2px);
}
.nav-menu li:hover a {
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
}

.nav-menu li a.active {
  text-decoration: underline;
}

.nav-toggle {
  display: none;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
}

.bar {
  width: 24px;
  height: 2px;
  background-color: currentColor;
}

@media (max-width: 768px) {
  .nav-toggle {
    display: flex;
  }
  .nav-menu {
    z-index: 9;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 60%;
    backdrop-filter: blur(50px);
    height: 100vh;
    transition: all 0.3s ease;
    transform: translateX(-100%);
  }
  .nav-menu.open {
    transform: translateX(0);
    /* display: flex; */
  }
}
