@media (max-width: 768px) {
  .shape {
    font-size: 2rem;
  }
  .hero-section .hero-content {
    padding: 2rem 1rem;
    top: 50%;
    left: 20px;
    right: 20px;
    transform: translateY(-40%);
    backdrop-filter: blur(5px);
    gap: 1rem;
  }
  .hero-section p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .navbar {
    padding: 6px 1rem;
  }
  .nav-logo {
    height: 40px;
  }
  .btn {
    padding: 0.45rem 0.6rem;
    font-size: 0.875rem;
  }
}
